<% content_for :title, "Editing treatment plan" %>

<h1>Editing treatment plan</h1>

<%= render "form", treatment_plan: @treatment_plan %>

<br>

<div>
  <%= link_to "Show this treatment plan", @treatment_plan %> |
  <%= link_to "Back to treatment plans", treatment_plans_path %>
</div>
